.notes-form{
  min-width: 200px;
  display: flex;
  gap: 2rem;
  & > div{
    display: grid;
    flex: 1;
  }
  .row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
@media screen and (max-width: 640px) {
    .notes-form{
      display: grid;
      grid-template-columns: 1fr;
    }
  }