.home-page{
  .page-logo-wrapper{
    display: flex;
    text-decoration: none;
    gap: 0.8rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .logo-title{
      text-transform: uppercase;
      font-weight: 400;
      font-size: 1.25rem;
      color: var(--primary);
    }
  }
  .main-search{
    margin: 3rem 0;
  }
  .quick-access{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(180px, max-content));
    // grid-template-columns: repeat(3, minmax(180px, max-content));

    grid-gap: 1rem;
    margin-bottom: 1rem;
  }
}