.classroom-page{
    h4{
        font-weight: 400;
        font-size: 0.70rem;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        display: flex;
        color: var(--text-secondary);
      }
      .form{
        display: grid;
        gap: 2rem;
      }
}